{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Non-Invasive Medical Equipment for the Caribbean | Mitec Medical</title>
        <meta name="description" content="Sales, Leasing and Logistics in the Caribbean of equipments for minimally invasive therapy in the area of urology, cardiology, sterilization, gynecology, radiology, gastroenterology, general surgery, among others.">
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="shortcut icon" href="static/img/favico.png">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/normalize.min.css">
        <link rel="stylesheet" href="static/css/animate.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/css/font-awesome.min.css">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <nav class="navbar">
            <a  class="logo" href="#"><img src="static/img/logo-white.png"></a>
            <ul>
                <li><a class="url" href="javascript:void(0)" data-url="#about">About</a></li>
                <li><a class="url" href="javascript:void(0)" data-url="#services">Services</a></li>
                <li class="navbar__contact" ><a href="javascript:void(0)" class="url" data-url="#contact">Contact us</a></li>
            </ul>
        </nav>

        <div class="main-container">
            <div class="home-section">
                <div class="home-section__container reveal-text">
                    <h1>Invasive & Non-invasive Medical Equipments for the Caribbean</h1>
                    <div class="btn btn-primary url" data-url="#contact">
                        <span>Contact Us</span>
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="about-section" id="about">
                <div class="about-section__container reveal-text">
                    <div class="icon">
                        <img src="static/img/heartbeat.png" alt="">
                    </div>
                    <h1 class="title"><span>About</span><br> Mitec Medical</h1>
                    <div class="description">
                        <p>Founded in <strong>2010</strong>, with a especified objective: offering high quality invasive and non-invasive <strong>medical devices</strong>  and the best service for the <strong>Caribbean region.</strong></p>
                    </div>
                </div>
            </div>

            <div class="plan-section">
                <div class="plan-section__container">
                    <div class="plan mision reveal-left">
                        <div class="title">
                            <h2>Mission</h2>
                        </div>
                        <div class="description">
                            <p>Safeguarding Patients welfare through the distribution of last generation invasive and non-invasive
                                medical equipments, improving medical procedures and treatments</p>
                        </div>
                    </div>
                    <div class="plan vision reveal-right">
                        <div class="title">
                            <h2>Vision</h2>
                        </div>
                        <div class="description">
                            <p>Being the market leader of caribbean region in the logistics of invasive and non-invasive medical devices and beign recognized as the number one ally for the genera medical treatment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-section">
                <div class="title reveal-left">
                    <h3>Leading company in the Caribbean</h3>
                </div>
            </div>
            <div class="services-section" id="services">
                <div class="text reveal-text">
                    <div class="title">
                        <h3>Services</h3>
                    </div>
                    <div class="description">
                        <p>Equipment for invasive and minimally invasive therapy in the area of Urology, Cardiology, Sterilization, Gynecology, Radiology, Gastroenterology, General Surgery, among others.</p>
                            
                    </div>
                    <div class="btn btn-primary url" data-url="#contact">
                        <span>Let's Talk</span>
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="icons reveal-bottom">
                    <div class="row">
                        <div class="item">
                            <img src="static/img/sales.png" alt="">
                            <p>Sales and Leasing</p>
                        </div>
                        <div class="item">
                            <img src="static/img/logistic.png" alt="">
                            <p>Logistics</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item">
                            <img src="static/img/repair.png" alt="">
                            <p>Maintenence and repairs</p>
                        </div>
                        <div class="item">
                            <img src="static/img/equipment.png" alt="">
                            <p>Equipment install and setup</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-section" id="contact">
                <div class="text reveal-text">
                    <div class="title">
                        <h3>Contact Us</h3>
                    </div>

                    <div class="info address">
                        <h4 class="info-title">
                            Address
                        </h4>
                        <p class="info-description">
                            1870 Aloma Ave. Ste 250. Winter Park, FL 32789, USA.
                        </p>
                    </div>
                    <div class="info phones">
                        <h4 class="info-title">
                            Phones
                        </h4>
                        <p class="info-description">
                            +1 (407) 730.41.18 / +1 (407) 362.16.40
                        </p>
                    </div>
                    <div class="info phones">
                        <h4 class="info-title">
                            Fax number
                        </h4>
                        <p class="info-description">
                            +1 (407) 730-51.67
                        </p>
                    </div>
                </div>

                <div class="form reveal-bottom">
                    <form action="" id="form">
                        <div class="row">
                            <div class="input">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <input type="text" name="name" placeholder="Full Name">
                            </div>
                            <div class="input">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input type="text" name="email" placeholder="Email">
                            </div>
                        </div>

                        <div class="textarea">
                            <textarea name="message" placeholder="Leave us a message"></textarea>
                        </div>
                        <div class="btn-submit">
                            <div class="btn btn-dark" id="submit">
                                <span>Send</span>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </form>
                    <div class="loading">
                        <img src="static/img/ring.gif" alt="">
                    </div>

                    <div class="sucess-message ">
                        <h4>We will contact you soon</h4>
                    </div>
                </div>
            </div>
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer >
                <img src="static/img/logo-white.png">
                <div class="social">
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </footer>
            <div class="footer-bottom">
                <span>All rights reserved - Mitec Medical LLC. 2017</span>
            </div>
        </div>

        <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
        <script src="static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
